{{- if (default true .Params.breadcrumbs) }}
  {{- $crumbs := slice }}
  {{- range .Ancestors.Reverse }}
    {{- $title := partial "utils/title" . }}
    {{- if and (not .IsHome) (not (or (eq $title "Hub") (eq $title "Hubs"))) }}
      {{- $crumbs = $crumbs | append . }}
    {{- end -}}
  {{- end -}}
  {{- if gt (len $crumbs) 0 }}
    <div class="hx:mt-1.5 hx:flex hx:items-center hx:gap-1 hx:overflow-hidden hx:text-sm hx:contrast-more:text-current">
      {{- range $index, $crumb := $crumbs }}
        {{- if gt $index 0 }}
          {{- partial "utils/icon.html" (dict "name" "chevron-right" "attributes" "class=\"hx:w-3.5 hx:shrink-0 hx:rtl:-rotate-180 breadcrumb-inactive\"") -}}
        {{- end -}}
        <div class="hx:whitespace-nowrap hx:transition-colors hx:min-w-[24px] hx:overflow-hidden hx:text-ellipsis breadcrumb-inactive breadcrumb-hover">
          <a href="{{ $crumb.RelPermalink }}">{{ partial "utils/title" $crumb }}</a>
        </div>
      {{- end -}}
    </div>
  {{- end -}}
{{ end -}}
